.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  width: 90%;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
  outline-offset: -2px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.webstudio_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 145px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.webstudio_header:hover, .webstudio_header:focus {
  color: #62b8ff;
}

.webstudio_header_color {
  color: black;
}

.menu {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu_nav {
    width: 300px;
    margin: 0;
    padding: 0;
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .menu_nav {
    width: 300px;
    margin: 0;
    padding: 0;
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-nav__list {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.menu-nav__list:not(:last-child) {
  margin-right: 50px;
}

.menu-nav__text {
  position: relative;
  color: #212121;
  padding-bottom: 33px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav__text:hover, .menu-nav__text:focus {
  color: #2196f3;
}
.menu-nav__text.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background-color: #008cff;
}

.menu_contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu_contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .menu_contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    margin-left: auto;
    padding: 0;
  }
}

.menu-contacts__list {
  margin-right: 50px;
  padding: 0;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style-type: none;
}

.email_tel_icon {
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text_email_tel:hover .email_tel_icon, .text_email_tel:focus .email_tel_icon {
  fill: #2196f3;
}

.text_email_tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text_email_tel:hover, .text_email_tel:focus {
  color: #2196f3;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.burger-menu__icon {
  position: absolute;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 32px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.menu-close-icon {
  position: absolute;
}
.menu-close-icon:hover, .menu-close-icon:focus {
  fill: #2196F3;
}

.mobile-menu {
  padding: 0;
  margin-bottom: auto;
  list-style: none;
}

.mobile-menu__list:not(:last-child) {
  margin-bottom: 30px;
}

.link {
  display: block;
  width: 220px;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.link:hover, .link:focus {
  color: #2196F3;
}

.mobile-menu__contacts {
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
}

.mobile-menu__number {
  margin: 0;
  margin-bottom: 32px;
  width: 297px;
  height: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  list-style: none;
}

.mobile-menu__number__link {
  color: #2196F3;
}

.mobile-menu__mail {
  margin: 0;
  width: 235px;
  height: 28px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  list-style: none;
  color: #757575;
}

.mobile-menu__mail__link {
  color: #757575;
}

.mobile-menu__socials {
  margin: 0;
  padding: 0;
  width: 357px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  list-style: none;
}

.mobile-menu__socials__list {
  text-decoration: none;
}

.mobile-menu__socials__link {
  color: #2196F3;
}

.mobile-menu__socials-box {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
}

.section_main_hat {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/index/img_hat.png");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/index/img_hat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hat_words {
  margin: 0 auto;
  width: 480px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hat_words {
    width: 800px;
  }
}

.button {
  width: 216px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button.button:focus {
  background-color: #5cb6ff;
}

.button_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: 250ms;
  transition: 250ms;
  z-index: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  height: 609px;
  width: 450px;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid grey;
  cursor: pointer;
}

.close_button_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 16px;
  margin: auto;
}
.close_button:hover .close_button_icon, .close_button:focus .close_button_icon {
  fill: #2196f3;
}

.form {
  display: block;
  margin: 0;
}

.form_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
  width: 370px;
  height: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .form_title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form_field input {
  padding-left: 42px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_field input:hover, .form_field input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.form_input {
  position: relative;
}

.icon_modal {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_field:hover .icon_modal, .form_field input:focus + .icon_modal {
  fill: #2196f3;
}

.label_form {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

textarea {
  margin-top: 4px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
textarea::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
textarea::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
textarea:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
textarea::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check_input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
  cursor: pointer;
}
.check_input:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
}

.check_text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 8px;
}

.checkbox_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox_text {
    font-size: 14px;
    line-height: 24px;
  }
}

.text_check_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-left: 3px;
  text-decoration: underline;
}
@media screen and (min-width: 1200px) {
  .text_check_link {
    font-size: 14px;
    line-height: 24px;
  }
}

.btn_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  color: #ececec;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.btn_form:hover, .btn_form:focus {
  background: #5cb6ff;
}

.features {
  padding-left: 0;
  margin: 0 auto;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features-list {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .features-list {
    width: 354px;
  }
  .features-list:nth-child(2n) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    width: 270px;
  }
  .features-list:nth-child(3) {
    margin-left: 30px;
  }
}

.features-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-bottom: 30px;
  width: 450px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .features-img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features-img {
    width: 270px;
  }
}

.features-icon {
  width: 65px;
  height: 70px;
}

.features_tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .features_tittle {
    width: 354px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
@media screen and (min-width: 1200px) {
  .features_tittle {
    width: 270px;
  }
}

.features_describe {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .features_describe {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features_describe {
    width: 270px;
  }
}

.section_what_do_we_do {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section_what_do_we_do {
    display: none;
  }
}

.text_what_do_we_do {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.work {
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-img {
  display: block;
  list-style-type: none;
}

.work-thumb {
  position: relative;
}

.front_color {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.front_text {
  height: 70px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.section_team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .section_team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  margin: 0 auto;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-list {
  margin: 0;
  margin-bottom: 30px;
  list-style-type: none;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-list {
    width: 354px;
  }
  .team-list:nth-child(2n) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    width: 270px;
  }
  .team-list:nth-child(3n) {
    margin-left: 30px;
  }
}

.team-img {
  width: 450px;
  height: 460px;
}
@media screen and (min-width: 768px) {
  .team-img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team-img {
    width: 270px;
    height: 260px;
  }
}

.team-list__person {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-list__person {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__person {
    width: 270px;
  }
}

.team-list__describe {
  margin: 0 auto;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .team-list__describe {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__describe {
    width: 270px;
  }
}

.team-list__name-person {
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .team-list__name-person {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__name-person {
    width: 270px;
  }
}

.team-list__job-person {
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .team-list__job-person {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__job-person {
    width: 270px;
  }
}

.social_links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social_links .social-link__list:not(:last-child) {
  margin-right: 10px;
}

.href_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.href_card:hover, .href_card:focus {
  background-color: #2196f3;
}

.icon_card {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.href_card:hover .icon_card, .href_card:focus .icon_card {
  fill: white;
}

.our_clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .our_clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
  }
}

.clients {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.clients-list {
  margin: 0;
  margin-bottom: 30px;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list:hover, .clients-list:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    width: 170px;
  }
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .clients-icon {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-icon {
    width: 170px;
  }
}

.body_portfolio {
  position: relative;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
}

.button-portfolio {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
  list-style-type: none;
}
.button-portfolio .button-portfolio__list:not(:last-child) {
  margin-left: 8px;
}
@media screen and (min-width: 1200px) {
  .button-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .button-portfolio .button-portfolio__list:not(:last-child) {
    margin-left: 8px;
  }
}

.button-portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 22px;
  padding-right: 22px;
  height: 38px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio__link:hover, .button-portfolio__link:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1200px) {
  .button-portfolio__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 22px;
    padding-right: 22px;
    height: 38px;
  }
}

.project {
  margin: 0;
  padding: 0;
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-list {
  margin: 0;
  margin: 15px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-list:hover .project-thumb::before {
  opacity: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.project-list:hover .project-text {
  opacity: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}
.project-thumb:before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms;
  transition: 250ms;
}

.project-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.project-card {
  margin-top: -5px;
  padding: 24px;
  border: 1px solid #eeeeee;
  max-width: 100%;
  max-height: 100%;
}

.project_name {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  width: 100%;
}

.project_filter {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer_navigation {
  margin: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer_navigation {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer_navigation {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer_navigation_main {
  display: block;
  width: 450px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer_navigation_main {
    width: 231px;
    margin: 0;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer_navigation_main {
    width: 231px;
    margin: 0;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.webstudio_footer {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 154px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.webstudio_footer:hover, .webstudio_footer:focus {
  color: #56abf0;
}
@media screen and (min-width: 768px) {
  .webstudio_footer {
    margin: 0;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .webstudio_footer {
    margin: 0;
    margin-bottom: 20px;
  }
}

.webstudio_footer_color {
  color: #ffffff;
}

.footer_place_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer_place_text {
    margin: 0;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer_place_text {
    margin: 0;
  }
}

.address {
  margin: 0 auto;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .address {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    margin: 0;
    width: 231px;
  }
}

.address_li {
  margin-top: 9px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .address_li {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .address_li {
    margin: 0;
  }
}

.map_address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.map_address:hover, .map_address:focus {
  color: #2196f3;
}

.email_footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email_footer:hover, .email_footer:focus {
  color: #ffffff;
}

.tel_footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel_footer:hover, .tel_footer:focus {
  color: #ffffff;
}

.join_social {
  margin: 0;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .join_social {
    position: absolute;
    margin: 0;
    margin-top: 5px;
    width: 738px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .join_social {
    position: relative;
    margin: 0;
    margin-left: 70px;
    width: 206px;
  }
}

.join {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .join {
    margin: 0;
    margin-bottom: 20px;
    margin-right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin: 0;
    margin-bottom: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.social_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}
.social_footer .li_social_footer:not(:last-child) {
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .social_footer {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
@media screen and (min-width: 1200px) {
  .social_footer {
    margin: 0;
    width: 206px;
  }
}

.footer_icon_href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_icon_href:hover, .footer_icon_href:focus {
  background-color: #2196f3;
}

.footer_icon_card {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.subscribe {
  margin: 0;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .subscribe {
    margin: 0;
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
    width: 570px;
  }
}

.sub_element {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .sub_element {
    margin: 0 auto;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sub_element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 570px;
  }
}

.subscribe_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .subscribe_text {
    margin: 0;
    margin-bottom: 20px;
    width: 207px;
  }
}

.input_footer {
  margin: 0;
  padding: 0;
  padding: 10px;
  margin-bottom: 20px;
  height: 50px;
  width: 450px;
  background: #2f303a;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .input_footer {
    margin: 0;
    margin-bottom: 20px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .input_footer {
    width: 358px;
  }
}

.btn_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  -webkit-transition: 250ms;
  transition: 250ms;
}
.btn_sub:hover, .btn_sub:focus {
  background: #68bbff;
}

.sub_text {
  margin-top: 7px;
  margin-left: 28px;
}

.icon_sub {
  margin-top: 10px;
  margin-left: 10px;
  fill: white;
}/*# sourceMappingURL=main.css.map */