$btn-color: #2196f3;
$btn-color-hover: #5cb6ff;
$color-hover__back: #2196f3;
$color-hover__front-link: white;
$font-weight-hat: 900;
$font-weight-title: 700;
$font-weight-name: 500;
$font-weight-text: 400;



.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    width: 90%;
}